.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 16;

  @include vp-1200 {
    background-color: $color-btn;
  }
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr 146px;
  gap: 25px;
  align-items: center;
  padding: 43px 20px 42px 52px;
  background-color: $color-btn;

  @include vp-1200 {
    grid-template-columns: 130px 1fr 130px;
    padding: 20px 0;
    background-color: $color-transparent;
  }

  @include vp-768 {
    grid-template-columns: 1fr 206px;
    gap: 0;
    padding: 15px 0 13px;
  }
}

.header__burger {
  display: none;

  @include vp-1200 {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 26px;
    height: 26px;
    color: $color-white;
    background-color: $color-transparent;
    border: none;
    cursor: pointer;
    transition: outline $trans-default, color $trans-default, opacity $trans-default;
  }

  @include vp-768 {
    align-self: self-start;
  }

  @include not-outline;

  @include hover-focus {
    color: $color-active;
  }

  @include active {
    color: $color-white;
    opacity: 0.5;
  }
}

.header__burger.is-active {
  display: none;
}

.header__logo {
  margin-right: 35px;
  cursor: auto;
  transition: outline $trans-default;

  @include vp-1200 {
    position: relative;
    z-index: 2;
    grid-column: 2 / 3;
    justify-self: center;
    margin-right: 0;
  }

  @include vp-768 {
    justify-self: end;
    margin-bottom: 5px;
  }

  @include not-outline;

  @include focus {
    outline: 2px solid $color-white;
    outline-offset: 3px;
  }

  img:last-child {
    display: none;
  }
}

.header__logo.is-active {
  @include vp-1200 {
    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
  }
}

.header__link {
  justify-self: end;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $color-white;
  transition: color $trans-default;

  @include vp-1200 {
    position: relative;
    z-index: 2;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-top: 3px;
    font-size: 16px;
    line-height: 16px;
    transition: none;
  }

  @include vp-768 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 14px;
    line-height: 14px;
  }

  @include not-outline;

  @include hover-focus {
    color: $color-active;
  }

  @include active {
    color: $color-white;
    opacity: 0.5;
  }
}

.header__link.is-active {
  @include vp-1200 {
    color: $color-text;

    @include active {
      color: $color-btn;
      opacity: 1;
    }
  }
}
