.hero {
  background-color: $color-bcg-hero;
}

.hero__swiper {
  width: 100%;
}

.hero__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.hero__wrapper-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 80px;
  min-height: 800px;

  @include vp-1199 {
    align-items: center;
    padding-top: 212px;
    padding-bottom: 90px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding-top: 140px;
    min-height: 568px;
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 23px;
    max-width: 922px;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    color: $color-white;

    @include vp-1199 {
      margin-bottom: 13px;
      max-width: 671px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 15px;
      max-width: 322px;
      font-size: 26px;
      line-height: 26px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 38px;
    max-width: 420px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color-white;

    @include vp-1199 {
      margin-bottom: 27px;
      max-width: 500px;
      text-align: center;
    }

    @include vp-1023 {
      max-width: 473px;
    }

    @include vp-767 {
      margin-bottom: 60px;
      max-width: 391px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 15px;
  width: 180px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $color-white;
  background-color: $color-btn;
  transition: color $trans-default,
    background-color $trans-default,
    box-shadow $trans-default;

  @include vp-1199 {
    margin-bottom: 45px;
    padding: 21px 15px 19px;
  }

  @include not-outline;

  @include hover-focus {
    color: $color-active;
    background-color: $color-white;
    box-shadow: inset 0 0 0 1px $color-active;
    border-radius: 6px;
  }

  @include active {
    color: $color-white;
    background-color: $color-active;
  }

  @include disabled {
    color: $color-white;
    background-color: $color-disabled;
  }
}

.hero__wrapper-features {
  margin-top: auto;

  @include vp-1199 {
    display: none;
  }
}

.hero__features {
  position: relative;
  display: inline-block;
  padding: 13px 19px 13px 39px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $color-white;
  border: 1px solid $color-white;
  opacity: 0.5;

  &:first-child {
    margin-right: 7px;
  }

  &:last-child {
    padding: 13px 20px 13px 39px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
  }
}

.hero__wrapper-video {
  position: absolute;
  top: 329px;
  right: 0;
  width: 482px;
  height: 271px;

  @include vp-1199 {
    position: relative;
    top: auto;
    right: auto;
    width: 442px;
    height: 249px;
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    @include vp-767 {
      display: none;
    }
  }
}

.hero__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 56px;
  height: 56px;
  color: $color-white;
  background-color: $color-transparent;
  border: 1px solid $color-white;
  border-radius: 50%;
  cursor: pointer;
  transition: color $trans-default,
    background-color $trans-default,
    border-color $trans-default;

  svg:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
    opacity: 0;
    transition: opacity $trans-default;
  }

  svg {
    transform: translate(-1px, -1px);
  }

  @include not-outline;

  @include hover-focus {
    border-color: $color-active;

    & svg:last-child {
      opacity: 1;
    }
  }

  @include active {
    color: $color-white;
    background-color: $color-active;

    & svg:last-child {
      opacity: 0;
    }
  }

  @include disabled {
    color: $color-btn;
    border-color: $color-btn;
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.hero__wrapper-photo {
  position: absolute;
  top: 189px;
  right: 0;
  width: 410px;
  height: 459px;

  @include vp-1199 {
    position: relative;
    top: auto;
    right: auto;
    width: 442px;
    height: 365px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 410px;
    height: 459px;

    @include vp-1199 {
      width: 442px;
      height: 365px;
    }
  }
}

.hero__wrapper-yandex-music {
  position: absolute;
  top: 378px;
  right: 0;
  width: 385px;
  height: 215px;
  background-color: $color-transparent;

  @include vp-1199 {
    position: relative;
    top: auto;
    right: auto;
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    border-radius: 12px;
  }
}

.hero__wrapper-image {
  position: absolute;
  inset: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__swiper-pagination.swiper-pagination {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 110px;
  padding-left: 120px;
  bottom: 91px;
  left: 50%;
  transform: translateX(-50%);
  text-align: end;

  @include vp-1199 {
    margin: 0;
    padding: 0;
    transform: none;
    right: 0;
    bottom: 34px;
    left: auto;
    text-align: center;
  }

  .swiper-pagination-bullet {
    position: relative;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    background-color: $color-transparent;
    border: 1px solid $color-white;
    opacity: 1;
    transition: background-color $trans-default,
      border-color $trans-default,
      opacity $trans-default;

    @include vp-767 {
      width: 8px;
      height: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -8px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -3px;
      border: 1px solid $color-white;
      border-radius: 50%;
      opacity: 0;
    }

    @include not-outline;

    @include focus {
      &::after {
        opacity: 0.5;
      }
    }

    @include hover {
      background-color: #d9d9d9;
    }

    @include active {
      background-color: rgba(217, 217, 217, 0.5);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-white;
    border: 1px solid $color-white;
    cursor: auto;

    @include hover {
      background-color: $color-white;
    }
  }
}
