.intro {
  padding-block: 20px;
}

.intro__logo {
  display: inline-block;
  padding: 10px;
  color: $color-white;
  background-color: $color-btn;
  border-radius: 5px;
}

.intro h1 {
  margin-block: 30px;
  font-size: 40px;
}

.intro li {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
}

.intro a {
  transform: color $trans-default;

  @include hover-focus {
    color: $color-btn;
  }

  @include active {
    color: $color-active;
  }
}
