.tours {
  padding-top: 98px;
  padding-bottom: 75px;

  @include vp-1199 {
    padding-top: 43px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.tours__slider-wrapper {
  position: relative;
  margin-bottom: 61px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.tours__title {
  margin-bottom: 35px;

  @include vp-1199 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }
}

// кнопки навигации
.tours__btn-slider {
  top: -88px;

  &--next {
    right: 0;

    & svg {
      transform: rotate(180deg);
    }
  }

  &--prev {
    right: 41px;
    left: auto;
  }

  @include vp-1199 {
    top: -60px;
  }
}

.tours__btn-slider.swiper-button-disabled {
  background-color: $color-disabled;
}
// ------------------

.tours__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.tours__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-block: 28px;
  padding-inline: 20px;
  min-height: 416px;
}

.tours__image-wrapper {
  position: absolute;
  inset: 0;
  background-color: #77b0cb;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__location-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 2px;
  color: $color-white;

  & span {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
}

.tours__location {
  margin-right: auto;
  padding: 9px 12px 7px 34px;
  background-color: $color-btn;

  & svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
}

.tours__days {
  margin-right: 15px;
  margin-left: 10px;
  padding-left: 32px;

  & svg {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.tours__nights {
  padding-left: 32px;

  & svg {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.tours__subtitle {
  position: relative;
  z-index: 1;
  margin-block: 0;
  padding-bottom: 16px;
  max-width: 306px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $color-white;

  @include vp-1199 {
    max-width: 320px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: $color-white;
  }
}

.tours__specifications {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;

  & dt {
    margin-left: 0;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: $color-white;
  }

  & dd {
    margin-left: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    color: $color-white;
  }

  & span {
    display: inline-block;
    padding-right: 1px;
  }
}

.tours__term-wrapper {
  &--date {
    padding-right: 2px;
  }
}

.tours__descr {
  padding-top: 3px;
}

.tours__link-wrapper {
  text-align: center;
}

.tours__link {
  position: relative;
  display: inline-block;
  padding-right: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include not-outline;

  @include hover-focus {
    color: $color-active;
  }

  @include active {
    color: $color-btn;
  }

  @include disabled {
    color: $color-btn;
    opacity: 0.3;
  }

  & svg {
    position: absolute;
    top: 0;
    right: -1px;
  }
}
