.tours {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tours__title {
  margin-bottom: 53px;
}

.tours__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.tours__item {
  min-height: 416px;
}
