.training {
  padding-top: 49px;
  padding-bottom: 56px;

  @include vp-1199 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-top: 23px;
  }
}

.training__tilte {
  margin-bottom: 17px;

  @include vp-1199 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    margin-bottom: 1px;
  }
}

.training__descr-wrapper p {
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 820px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    margin-bottom: 29px;
    max-width: 570px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 20px;
  }
}

.training__subtitle {
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    margin-bottom: 62px;
  }

  @include vp-767 {
    margin-bottom: 57px;
  }
}

.training__swaiper-wrapper {
  position: relative;
  margin-bottom: 58px;

  @include vp-1199 {
    margin-bottom: 27px;
  }

  @include vp-767 {
    margin-bottom: 26px;
  }
}

.training__btn-slider {
  top: -55px;

  &--next {
    right: 0;

    & svg {
      transform: rotate(180deg);
    }
  }

  &--prev {
    right: 41px;
    left: auto;
  }

  @include vp-1199 {
    top: -65px;
  }

  @include vp-767 {
    top: -60px;
  }
}

.training__btn-slider.swiper-button-disabled {
  background-color: $color-disabled;
}

.training__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.training__item {
  height: auto;
  min-height: 356px;
  padding: 14px;
  border: 1px solid rgba(2, 102, 193, 0.1);
}

.training__image-wrapper {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.training__content-wrapper {
  position: relative;

  h3 {
    margin-top: 0;
    margin-bottom: 14px;
    max-width: 144px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  p {
    margin-block: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.training__link {
  position: absolute;
  top: -1px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);
}

// PROCESS
.training__heading {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__list-process {
  display: grid;
  grid-template-columns: repeat(4, 253px);
  margin-block: 0;
  padding-left: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: repeat(2, 344px);
    row-gap: 69px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 11px;
  }
}

.training__item-process {
  position: relative;
  padding: 4px 13px 10px 45px;

  @include vp-1199 {
    padding: 4px 70px 18px 45px;

    &--mountain {
      order: 3;
    }

    &--pine {
      order: 4;
      padding: 4px 73px 18px 43px;
    }
  }

  @include vp-767 {
    padding: 4px 10px 10px 64px;

    &--mountain {
      order: 4;
    }

    &--pine {
      order: 3;
    }
  }

  p {
    margin-block: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      max-width: 223px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  svg {
    position: absolute;
    top: 6px;
    left: 10px;

    @include vp-767 {
      top: 11px;
      left: 29px;
      width: 22px;
      height: 19px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -6px;
    left: 10px;
    width: 14px;
    height: 14px;
    background-color: $color-btn;
    border-radius: 50%;

    @include vp-767 {
      bottom: 20px;
      left: 1px;
      width: 13px;
      height: 13px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: calc(100% + 10px);
    background-color: rgba(2, 102, 193, 0.2);

    @include vp-767 {
      width: 1px;
      height: 70px;
      bottom: -37px;
      left: 6px;
    }
  }
}

.training__item-process:last-child {
  &::after {
    width: 100vw;

    @include vp-1199 {
      width: calc(100% + 10px);
    }
  }
}

// перенос кружочков и линий вверх у нижн.элем;
.training__item-process--mountain,
.training__item-process--pine {
  @include vp-1199 {
    &::before {
      top: -23px;
      bottom: auto;
    }

    &::after {
      top: -16px;
      bottom: auto;
    }
  }

  @include vp-767 {
    &::before {
      top: auto;
      bottom: 20px;
      left: 1px;
    }

    &::after {
      height: 70px;
      bottom: -37px;
      left: 6px;
    }
  }
}

.training__item-process.no-border {
  @include vp-1199 {
    &::after {
      content: none;
    }
  }

  @include vp-767 {
    &::after {
      content: "";
      height: 70px;
      top: auto;
      bottom: -37px;
      left: 6px;
    }
  }
}

.training__item-process--boot {
  @include vp-1199 {
    &::after {
      width: 1px;
      height: 60px;
      bottom: -52px;
      left: 16px;
    }
  }

  @include vp-767 {
    &::after {
      height: 70px;
      bottom: -37px;
      left: 6px;
    }
  }
}

.training__item-process--mountain::after {
  @include vp-767 {
    content: none;
  }
}
